<h1>Ingregrantes</h1>
<p>
  <tr>
    <th>apellido</th>
    <th>Nombre</th>
    <th>Carnet</th>
    <th>Laboratorio</th>
    <th>Teoria</th>
  </tr>
  <tr>
    <td>Martínez Bonilla</td>
    <td>José Alberto</td>
    <td>MB140756</td>
    <td>03T</td>
    <td>01L</td>
  </tr>
  <tr>
    <td>Mendoza Crespin</td>
    <td>Reynaldo Alexander</td>
    <td>MC141811</td>
    <td>03T</td>
    <td>01L</td>
  </tr>
  <tr>
    <td>Quintanilla Rodríguez</td>
    <td>Patricia Guadalupe</td>
    <td>QR140595</td>
    <td>03T</td>
    <td>01L</td>
  </tr>
</p>