<h2>Listado de Expedientes</h2>
<table mat-table [dataSource]="expedientes" class="mat-elevation-z8" style="width: 100%;">

    <ng-container matColumnDef="id_expediente">
        <th mat-header-cell *matHeaderCellDef>ID del Expediente</th>
        <td mat-cell *matCellDef="let expediente"> {{expediente.id_expediente}} </td>
    </ng-container>

    <ng-container matColumnDef="nombre_mascota">
        <th mat-header-cell *matHeaderCellDef>Nombre de la Mascota</th>
        <td mat-cell *matCellDef="let expediente"> {{expediente.nombre_mascota}} </td>
    </ng-container>

    <ng-container matColumnDef="descripcion_expediente">
        <th mat-header-cell *matHeaderCellDef>Expediente</th>
        <td mat-cell *matCellDef="let expediente"> {{expediente.descripcion_expediente}} </td>
    </ng-container>

    <ng-container matColumnDef="fecha_cita">
        <th mat-header-cell *matHeaderCellDef>Fecha de la cita</th>
        <td mat-cell *matCellDef="let expediente"> {{expediente.fecha_cita}} </td>
    </ng-container>

    <ng-container matColumnDef="editar">
        <th mat-header-cell *matHeaderCellDef>Editar</th>
        <td mat-cell *matCellDef="let expediente">
            <a mat-icon-button [routerLink]="['/expediente/actualizar', expediente.id_expediente ]">
                <mat-icon color="primary">edit</mat-icon>
            </a>
        </td>
    </ng-container>
    <ng-container matColumnDef="eliminar">
        <th mat-header-cell *matHeaderCellDef>Eliminar</th>
        <td mat-cell *matCellDef="let expediente">
            <button (click)="eliminarExpediente(expediente)" mat-icon-button>
                <mat-icon color="warn">delete</mat-icon>
            </button>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="['id_expediente','nombre_mascota', 'descripcion_expediente','fecha_cita', 'editar', 'eliminar']"></tr>
    <tr mat-row *matRowDef="let fila; columns: ['id_expediente','nombre_mascota', 'descripcion_expediente','fecha_cita',  'editar', 'eliminar'];"></tr>
</table>
