<!-- <div class="contenedor-padre">
  <nav class="navbar navbar-expand-lg bg-secondary text-uppercase fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger" [routerLink]="['home']"><img src="../../assets/img/icono_pets.png"
          width="50" height="50" alt="" /></a>
      <button class="navbar-toggler navbar-toggler-right text-uppercase font-weight-bold bg-primary text-white rounded"
        type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive"
        aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger"
              *ngIf="loginbtn" [routerLink]="['/login']" routerLinkActive="active">Iniciar sección</a></li>
          <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger"
              *ngIf="loginbtn" [routerLink]="['/registracion']" routerLinkActive="active">Registrarse</a></li>
        </ul>
      </div>
    </div>
  </nav>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <router-outlet></router-outlet>
</div> -->


<div class="contenedor-padre">
  <mat-toolbar class="barra" color="warn">
    <mat-toolbar-row>
      <button (click)="cajon.toggle()" mat-icon-button>
        <mat-icon>menu</mat-icon>
      </button>
      <span>
        Veterinaria pets
      </span>
      <mat-toolbar-row class="flexExpand">
        <nav class="navbar-expand-lg navbar-dark bg-warn rounded ">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample"
            aria-controls="navbarsExample" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarsExample">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <a class="nav-link" *ngIf="loginbtn" routerLink="home" routerLinkActive="active">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" *ngIf="loginbtn" routerLink="login" routerLinkActive="active">Login</a>
              </li>
              <li class="nav-item"><a class="nav-link"
                  *ngIf="logoutbtn" (click)="logout()">Logout</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" *ngIf="loginbtn" routerLink="registracion" routerLinkActive="active">Registrase</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" *ngIf="logoutbtn" routerLink="dashboard" routerLinkActive="active">Dashboard</a>
              </li>
            </ul>
          </div>
        </nav>
      </mat-toolbar-row>
    </mat-toolbar-row>
  </mat-toolbar>
  
  <mat-sidenav-container class="contenido">
    <mat-sidenav style="min-width: 300px;" #cajon mode="side">
      

      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              <mat-icon color="primary">assignment_ind</mat-icon>
              Citas
            </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-nav-list>
            <a mat-list-item routerLink="/cita/agregar">
              <mat-icon color="accent">add</mat-icon>
              Agendar cita
            </a>
            <a mat-list-item routerLink="/cita/mostrar">
              <mat-icon color="primary">assignment_ind</mat-icon>
              Ver Citas
            </a>
          </mat-nav-list>
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              <mat-icon color="primary">pets</mat-icon>
              Mascotas
            </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-nav-list>
            <a mat-list-item routerLink="/mascotas/agregar">
              <mat-icon color="accent">add</mat-icon>
              Agregar mascota
            </a>
            <a mat-list-item routerLink="/mascotas">
              <mat-icon color="primary">pets</mat-icon>
              Ver mascotas
            </a>
          </mat-nav-list>
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              <mat-icon color="primary">supervised_user_circle</mat-icon>
              Usuario
            </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-nav-list>
            <a mat-list-item routerLink="/usuarios/agregar">
              <mat-icon color="primary">add</mat-icon>
              Agregar Usuario
            </a>
            <a mat-list-item routerLink="/usuarios">
              <mat-icon color="primary">description</mat-icon>
              Ver Usuarios
            </a>
          </mat-nav-list>
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              <mat-icon color="primary">shopping_bag</mat-icon>
              Catalogo
            </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-nav-list>
            <a mat-list-item routerLink="/catalogo/agregar">
              <mat-icon color="primary">add</mat-icon>
              Agregar catalogo
            </a>
            <a mat-list-item routerLink="/catalogos">
              <mat-icon color="primary">description</mat-icon>
              Ver articulo al catalogo
            </a>
          </mat-nav-list>
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              <mat-icon color="primary">assignment</mat-icon>
              Expediente
            </mat-panel-title>
          </mat-expansion-panel-header>

          <mat-nav-list>
            <a mat-list-item routerLink="/expediente/agregar">
              <mat-icon color="primary">add</mat-icon>
              Agregar expediente
            </a>
            <a mat-list-item routerLink="/expediente/mostrar">
              <mat-icon color="primary">description</mat-icon>
              Ver expedientes
            </a>
          </mat-nav-list>
        </mat-expansion-panel>
      </mat-accordion>
      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Más
            </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-nav-list>
            <a mat-list-item routerLink="/acerca-de">
              Acerca de
            </a>
            <a mat-list-item href='#'>
              salir
            </a>
          </mat-nav-list>
        </mat-expansion-panel>
      </mat-accordion>
    </mat-sidenav>
    <mat-sidenav-content class="padding-10">
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>