<h2>Registro de expediente <mat-icon>create</mat-icon>
</h2>
<form (ngSubmit)="onSubmit()" #formExpediente="ngForm">

    <p>
        <label>Selecciona la cita</label>
        <select class="form-control" [(ngModel)]="opcionSeleccionadoExpe" name="opcionSeleccionadoExpe" (change)="prueba($event)"> 
            <option disabled value="Selecciona">Selecciona</option>
            <option *ngFor="let u of unidadesExpe" value="{{u.id_cita}}">
                {{u.id_cita}} - {{u.nombre_mascota}}
                
            </option>
        </select>
    </p>
    <br>
    <br>
    <br>

    <p>

        <mat-form-field>
            <input matInput name="nombre" [(ngModel)]="expedientesModel.descripcion_expediente" type="text"
                placeholder="Ingrese Expediente">
        </mat-form-field>
    </p>


    <p>
        <button type="submit" mat-flat-button color="accent">Guardar</button>
    </p>
</form>

<!--<p>
       <mat-form-field>
            <input matInput name="edad" [(ngModel)]="expedientesModel.descripcion_expediente"
                type="text"
                placeholder="Registre Expediente">
        </mat-form-field>-->
<!-- <mat-form-field>
            <mat-label>Mascota</mat-label>
            <mat-select>
              <mat-option value="option">Option 1</mat-option>      
            </mat-select>
          </mat-form-field>
    </p>
    <p>
        <mat-form-field>
            <input matInput name="raza" [(ngModel)]="expedientesModel.raza"
                type="text"
                placeholder="Raza">
        </mat-form-field>
    </p>

  <p>
        <label>Seleccione el tipo de usuario</label>
        <select class="form-control" [(ngModel)]="opcionSeleccionadoExpe" name="opcionSeleccionadoExpe">
            <option disabled value="Selecciona">Selecciona</option>
            <option *ngFor="let u of unidadesExpe" value="{{u}}">
                {{u}}
            </option>
        </select>
    </p>


-->