<h2>Agregar Usuario <mat-icon>pets</mat-icon>
</h2>
<form (ngSubmit)="onSubmit()" #formCatalogo="ngForm">
    <p>

        <mat-form-field>
            <input matInput name="nombre" [(ngModel)]="usuario.nombre" type="text" placeholder="Nombre">
        </mat-form-field>
    </p>

    <p>
        <mat-form-field>
            <input matInput name="apellido" [(ngModel)]="usuario.apellido" type="text" placeholder="Apellido">
        </mat-form-field>
    </p>
    <p>
        <mat-form-field>
            <input matInput name="email" [(ngModel)]="usuario.email" type="text" placeholder="Correo electronico">
        </mat-form-field>
    </p>
    <p>
        <mat-form-field>
            <input matInput name="password" [(ngModel)]="usuario.password" type="password" placeholder="Contraseña">
        </mat-form-field>
    </p>
    <p>
        <label for="tipo">Tipo de usuario</label>

        <select name="tipo" id="tipo">
          <option value="1">Administrador</option>
          <option value="2">Veterinario</option>
          <option value="3">Cliente</option>
        </select>
    </p>
    <p>
        <button type="submit" mat-flat-button color="accent">Guardar</button>
    </p>
</form>
