<div class="contenedor-padre">
    <nav class="navbar navbar-expand-lg bg-secondary text-uppercase fixed-top" id="mainNav">
        <div class="container">
            <a class="navbar-brand js-scroll-trigger" [routerLink]="['home']"><img src="../../assets/img/icono_pets.png"
                    width="50" height="50" alt="" /></a>
            <button
                class="navbar-toggler navbar-toggler-right text-uppercase font-weight-bold bg-primary text-white rounded"
                type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive"
                aria-expanded="false" aria-label="Toggle navigation">
                Menu
                <i class="fas fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger"
                            [routerLink]="['/home']">Inicio</a></li>
                    <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger"
                            *ngIf="loginbtn" [routerLink]="['/login']" routerLinkActive="active">Iniciar sección</a>
                    </li>
                    <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger"
                            *ngIf="loginbtn" [routerLink]="['/registracion']" routerLinkActive="active">Registrarse</a>
                    </li>
                    <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger"
                            *ngIf="logoutbtn" (click)="logout()">Logout</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <router-outlet></router-outlet>
</div>

<div class="row">
    <div class="col-md-6 mx-auto mt-5">
        <div class="card">
            <div class="card-body">
                <h1 class="text-center">REGISTRO</h1>
                
                <form [formGroup]="angForm" (ngSubmit)="postdata(angForm)" autocomplete="off">
                    <div class="form-group">
                        <label for="name">Nombre</label>
                        <input type="text" name="name" formControlName="name" autocomplete="off"
                            class="form-control input-sm" placeholder="Nombre" required="true">
                        <div *ngIf="name.invalid && (name.dirty || name.touched)" class="alert alert-danger">

                            <div *ngIf="name.errors.required">
                                Nombre del cliente es requerido.
                            </div>
                            <div *ngIf="name.errors.minlength">
                                Minimo 3 letras
                            </div>
                            <div *ngIf="name.errors.pattern">
                                Solo letras
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="apellido">Apellido</label>
                        <input type="text" name="apellido" formControlName="apellido" autocomplete="off"
                            class="form-control input-sm" placeholder="Apellido" required="true">
                        <div *ngIf="apellido.invalid && (apellido.dirty || apellido.touched)"
                            class="alert alert-danger">

                            <div *ngIf="apellido.errors.required">
                                Apellido del cliente es requerido.
                            </div>
                            <div *ngIf="apellido.errors.minlength">
                                Minimo 3 letras
                            </div>
                            <div *ngIf="apellido.errors.pattern">
                                Solo letras
                            </div>
                        </div>

                    </div>
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email" name="email" id="email" formControlName="email" autocomplete="off"
                            class="form-control input-sm" placeholder="Email" required="true">
                        <div *ngIf="email.invalid && (email.dirty || email.touched)" class="alert alert-danger">

                            <div *ngIf="email.errors.required">
                                Email es requerido.
                            </div>
                            <div *ngIf="email.errors.minlength">
                                Minimo 3 letras
                            </div>
                            <div *ngIf="email.errors.pattern">
                                formato de email invalido
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="Password">Password</label>
                        <input type="password" name="Password" formControlName="password" autocomplete="off"
                            class="form-control input-sm" placeholder="Password" required="true">
                        <div *ngIf="password.invalid && (password.dirty || password.touched)"
                            class="alert alert-danger">

                            <div *ngIf="password.errors.required">
                                El password es requerido.
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary btn-lg btn-block"
                        [disabled]="!angForm.valid">Register</button>
                </form>
            </div>
        </div>
    </div>
</div>